{
 box-sizing: border-box;
}
.qdisp
{
 width: 90%;
 font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-size: 6px;
 background: rgb(249,219,61);
 /*background:url('https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif');*/
 color: #222;
 margin: 0;
 padding: 0;
 overflow-y: scroll;

 background:url('https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjCps-IjerTAhUIK48KHR4jCbEQjRwIBw&url=https%3A%2F%2Fenglish.stackexchange.com%2Fquestions%2F287186%2Fdoes-the-word-green-board-exist&psig=AFQjCNFYOTYHbJW36gN1DgRhjHBirCYk5w&ust=1494669473593675');
}
.wrapper {
 width: 100%;
 font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-size: 6px;
 background: rgb(249,219,61);
 /*background:url('https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif');*/
 color: #222;
 margin: 0;
 padding: 0;

}
h1 {
 font-weight: normal;
 font-size: 5.25em;
 text-transform: uppercase;
 letter-spacing: -2px;
 text-align: center;
}
h2 {
 font-size: 3.25em;
 margin: 0 0 15px;
}
header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 20px;
}
.score-container, .question-count {
 width: 250px;
 text-align: center;
}
.score-container h2, .question-count h2 {
 margin-bottom: 0;
 font-size: 2em;
 font-weight: 400;
}
.score, .question-number {
 font-size: 4em;
 font-weight: 100;
}
.total-question-number {
 margin: 0 .3em;
}
.description {
 font-size: 1.5em;
}
.questions {
 width: 100%;
 margin: 35px auto 0;
}
.question {
 font-size: 2em;
 width: 100%;
 height: 570px;
}
.question-answers {
 padding-left: 1.2em;
}
.question-answers li {
 list-style-type: lower-alpha;
}
.question-answer {
 padding: .5em;
 cursor: pointer;
 border: 5px solid transparent;
}
.answer {
 font-size: 1em;
}
@keyframes slide-in {
 0%   { opacity: 0; transform: translate3d(40%, 0, 0); }
 100% { opacity: 1; transform: none; }
}
.question {
 display: none;
 animation: slide-in .4s ease;

}
.question:first-child {
 display: block;
}
.headcolor{
 background-color: black;
 text-align:center;
 color:cyan;
}
.REalign{
 text-align: center;
 align-items: center;
 justify-content: center;
}
.acolor
{
 background-color: red;
}
.results-container {
 width: 100%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
background-color: black;
height:660px;
 font-size: 1.75em;
 line-height: 1.75em;
 animation: slide-in .4s ease;
 }
.results-total {
 margin-top: 0px;
 font-size: 0.7em;
}
/*.results-container a {
 position: relative;
 padding: 15px 30px;
 margin-top: 30px;
 border: 3px solid #111;
 background: none;
 cursor: pointer;
 /*background:url('https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif');*/

 /*font-size: .75em;
 transition: background .2s;*/

.results-container a:hover {
 background: rgba(255,255,255,.1);
}
.results-container a:active, {
 background: rgba(255,255,255,.5);
 outline: none;
 top: -2px;
}
.wrong {
 color: #333;
 background: rgba(236,100,75,.5);
 animation: shake 0.5s cubic-bezier(.35,.05,.20,.99) both;
}
.right {
 background: rgba(135,211,124,.5);
}
@keyframes shake {
 10%, 90% {
   transform: translate3d(-1px, 0, 0);
 }
 20%, 80% {
   transform: translate3d(1px, 0, 0);
 }
 30%, 50%, 70% {
   transform: translate3d(-2px, 0, 0);
 }
 45%, 55% {
   transform: translate3d(2px, 0, 0);
 }
}
.correct-modal {
 font-size: 5em;
 text-align: center;
 width: 100%;
 background: rgb(252, 235, 148);
 padding: 5%;
 will-change: transform;
 transform: scale(4);
 z-index: 2;
 opacity: 1;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 200px;
 overflow: auto;
 margin: auto;
 /*background:url('https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif');*/

 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 backface-visibility: hidden;
 -webkit-font-smoothing: antialiased;
 display: none;
}
.correct-modal.modal-enter {
 display: flex;
 animation: modal-enter 2.3s ease-in both;
}
.praise, .bonus {
 backface-visibility: hidden;
 -webkit-font-smoothing: antialiased;
}
.bonus {
 display: none;
}
.bonus.show {
 display: block;
}
@keyframes modal-enter {
 0 {
   visibility: visible;
   opacity: 1;
 }
 50% {
   transform: scale(1);
   opacity: 1;
 }
 85% {
   opacity: 1;
   transform: scale(1);
 }
 99% {
   opacity: .5;
   transform: scale(1);
 }
 100% {
   display: none;
   transform: scale(1);
 }
}

@media (min-width: 600px) {
 body {
   font-size: 12px;
 }
}

@media (min-width: 900px) {
 body {
   font-size: 10px;
 }
 h1 {
   font-size: 3em;
 }
 header {
   padding: 50px 0 30px;
 }
 .questions {
   width: 75%;
   height: 5000px;
 }
 .question-answer:hover {
   border-color: rgba(0,0,0,.5);
 }
 .correct-modal {
   height: 1000px;
 }
}

@media (min-width: 1400px) {
 body {
   font-size: 12px;
   overflow: hidden;
 }
 .correct-modal {
   height: 400px;
 }
}
